{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row justify-content-around">
        <div class="col-4">
            <form action="" method="POST" class="bg-secondary">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{msg}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name: </label>
                    <input type="text" name="fname">
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name: </label>
                    <input type="text" name="lname">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="text" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="cpassword" class="form-label">Confirm Password: </label>
                    <input type="password" name="cpassword">
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
        <div class="col-4">
            <form action="/login" method="POST" class="bg-secondary">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}